<%= form_with(model: message, id: dom_id(message)) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="is-flex is-justify-content-space-between">
    <div class="field is-flex-grow-1 mr-3">
      <%= form.text_field :content, class: "input", placeholder: "Type your message here", autofocus: true %>
    </div>
    <div class="is-flex-grow-0">
      <% if message.new_record? %>
        <%= form.submit "Send", class: "button" %>
      <% else %>
        <%= link_to "Cancel", root_path, class: "button is-danger is-light", "data-turbo_frame": "_top"  %>
        <%= form.submit "Update", class: "button is-success is-light" %>
      <% end %>
    </div>
  </div>
<% end %>
